/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */

/*
 * featureinfo results table
 */
.feat_info{
    color:#000000; 
    text-align:left;
}
	
th.feat_header
{
/*
	border-style : solid;
	border-width : 0px;
	background-color: rgb(50,50,50);
	border-color:#999999;
	font-size: 0.85em; 
	color:#FFFFFF ; 
	text-decoration: none; 
	text-align: left; font-family: verdana;
*/
	/*background-image:url(../images/titlebar.png);*/
}

th.attr_col
{
	width:100px;
	/*
	border-style : dotted;
	border-width : 1px;
	background-color: rgb(100,100,100);
	border-color:#999999;
	font-size: 0.85em; color:#FFFFFF; 
	text-decoration: none; 
	text-align: left; 
	font-family: verdana;
	*/
}

td.value_col
{
	width:150px;
	/*
	border-style : dotted;
	border-width : 1px;
	border-color:silver;
	font-size: 0.85em; color:#000000; 
	text-decoration: none; 
	text-align: left; 
	font-family: verdana;
	*/
}

#chicken.olPopup {
    opacity: 0.8;
}

.olControlPanel .olControlFeatureInfoItemInactive { 
display: block;
vertical-align: middle;
height: 24px;
width: 24px;
line-height: 19px;
background: rgb(0, 0, 0);
background-image: url("images/info.png");
filter: alpha(opacity=80);
margin: 1px;
padding: 0;
cursor: pointer;
}
.olControlPanel .olControlFeatureInfoItemInactive:hover { 
filter: alpha(opacity=60);
opacity: 0.6;
}
.olControlPanel .olControlFeatureInfoItemActive { 
display: block;
vertical-align: middle;
height: 24px;
width: 24px;
line-height: 19px;
background: rgb(0, 0, 0);
background-image: url("images/info.png");
filter: alpha(opacity=50);
opacity: 0.5;
margin: 1px;
padding: 0;
}
