/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */

.olControlPanel .olControlNavigationHistoryNextItemInactive { 
display: block;
color: white;
vertical-align: middle;
height: 24px;
width: 24px;
line-height: 19px;
background: rgb(0, 0, 0);
background-image: url("images/history-next-inactive.png");
filter: alpha(opacity=80);
margin: 1px;
padding: 0;
cursor: pointer;
}
.olControlPanel .olControlNavigationHistoryNextItemActive:hover { 
filter: alpha(opacity=60);
opacity: 0.6;
}
.olControlPanel .olControlNavigationHistoryNextItemActive { 
display: block;
color: white;
vertical-align: middle;
height: 24px;
width: 24px;
line-height: 19px;
background: rgb(0, 0, 0);
background-image: url("images/history-next-active.png");
filter: alpha(opacity=80);
margin: 1px;
padding: 0;
cursor: pointer;
}

.olControlPanel .olControlNavigationHistoryPreviousItemInactive { 
display: block;
color: white;
vertical-align: middle;
height: 24px;
width: 24px;
line-height: 19px;
background: rgb(0, 0, 0);
background-image: url("images/history-previous-inactive.png");
filter: alpha(opacity=80);
margin: 1px;
padding: 0;
cursor: pointer;
}
.olControlPanel .olControlNavigationHistoryPreviousItemActive:hover { 
filter: alpha(opacity=60);
opacity: 0.6;
}
.olControlPanel .olControlNavigationHistoryPreviousItemActive { 
display: block;
color: white;
vertical-align: middle;
height: 24px;
width: 24px;
line-height: 19px;
background: rgb(0, 0, 0);
background-image: url("images/history-previous-active.png");
filter: alpha(opacity=80);
margin: 1px;
padding: 0;
cursor: pointer;
}
