/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */

.olControlScaleLine {
    position: relative;    
    right: 45%;
    left: 35%;
    bottom: 0.3em;
    text-align:center;
	background-color: #ffffff;
	opacity: 0.8;
}
