/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/**
 * Basic Typography
 */
body {
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: #222;
    background: #fff;
    margin: 1em 1.5em;
}
pre, code {
    margin: 1.5em 0;
    white-space: pre;
}
pre, code {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height:1.5;
}
a[href] {
    color: #436976;
    background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
    color: #003a6b;
    background-color: transparent;
    font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 0.5em;
}
h1 {
    font-size: 2em;
    margin-bottom: 0em;
    color: white;
    font-weight: bold;
}
h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: white;
}

h3 {
    font-size: 110%;
    margin-bottom: 0.5em;
    text-decoration: underline;
}
h4 {
    font-size: 100%;
    font-weight: bold;
}
h5 {
    font-size: 100%;
    font-weight: bold;
}
h6 {
    font-size: 80%;
    font-weight: bold;
}

/**
 * Map Examples Specific
 */
.smallmap {
    width: 600px;
    height: 500px;
    border: 1px solid #ccc;
    position:relative;
    float:left;
}
#docs {
        bottom     : 0;
        padding    : 1em;
		position: relative;
		float: left;
		width: 250px;
    }
#coords {
        bottom     : 0;
        padding    : 1em;
		position: relative;
		float: left;
		width: 250px;
    }
#tags {
    display: none;
}

#docs p {
    margin-bottom: 0.5em;
}
/* mobile specific */
@media only screen and (max-width: 600px) {
    body {
        height           : 100%;
        margin           : 0;
        padding          : 0;
        width            : 100%;
    }
    #map {
        background : #7391ad;
        width      : 100%;
    }
    #map {
        border : 0;
        height : 250px;
    }
    #title {
        font-size   : 1.3em;
        line-height : 2em;
        text-indent : 1em;
        margin      : 0;
        padding     : 0;
    }
    #shortdesc {
        color      : #aaa;
        font-size  : 0.8em;
        padding    : 1em;
        text-align : right;
    }
    #tags {
        display : none;
    }
}
@media only screen and (orientation: landscape) and (max-width: 600px) {
    #shortdesc {
       float: right;
       width: 25%;
    }
    #map {
        width: 70%;
    }
    
}
body {
    -webkit-text-size-adjust: none;
}

.colname_cell{
    color:#000000; 
    text-align:left;
    width: 300px;
    background-color: #009ee0;
}

/* th.colname_cell */
/* { */
/* 	width: 200px; */
/* 	border-style : solid; */
/* 	border-width : 0px; */
/* 	background-image:url(../images/menu-hover.png); */
/* 	border-color:#999999; */
/* 	color: #000000; */
/* 	font-size: 0.9em; color:#FFFFFF ; text-decoration: none	;  */
/* 	text-align: center; font-family: verdana; */
/* } */

td.colname_cell, td.colname_noeditable {
    font-size: 1em;
    color: black;
    text-decoration: none ; 
    text-align: left; 
    font-family: verdana;
    padding: 0px 5px ;
    border-style : solid;
    border-width : 1px;
    border-color: white;

}

td.colname_noeditable {
    color: white;
    background-color: #067FB6;

}

.banner {
    width: 95%;
	background-color: #067FB6;
	padding: 25px;
    height: 50px;
    position:relative;
	float:left;
	margin-bottom: 20px;
}
.footer {
    width: 95%;
    background-color: #067FB6;
    padding: 10px;
    height: 40px;
    position:relative;
    float:left;
    margin-top: 10px;
}

#form_btn {
    display: block; 
    color: white; 
    padding:2px;
    margin:auto;
    background-color: #DDD;
    border: solid 1px gray;
    width: 80px;
    vertical-align: middle;
    font-weight: bold;
}

#form_btn:hover {
    background-color: #BBB;
    border: solid 2px blue;

}

img.btn {
    margin:0em 0.5em;
    vertical-align: middle;
}

/*
 * OL Controls styles
 */
.olControlPanel div { 
  display:block;
  width:  24px;
  height: 24px;
  margin: 5px;
  background-color:white;
}

.olImageLoadError {
    background-color: transparent;
}

div#xuntaLogos {
bottom: 3px;
right: 3px;
display: inline;
position: absolute;
font-family: Arial;
font-size: smaller;
text-align: center;
vertical-align: middle;
/*width: 150px;*/
/*border: 1px solid gray;*/
background-color: white;
opacity: 0.75;
width:  123px;
height: 40px;
z-index: 9999;
}

div#xuntaLogos img{
display: inline;
width: 103px;
height: 30px;
text-align: center;
vertical-align: middle;
margin-top: 5px;
}

/*
 * featureinfo results table
 */
.feat_info{color:#000000; text-align:left}
	
th.feat_header
{
	border-style : solid;
	border-width : 0px;
	/*background-image:url(../images/titlebar.png);*/
	background-color: rgb(50,50,50);
	border-color:#999999;
	font-size: 0.85em; color:#FFFFFF ; text-decoration: none; 
	text-align: left; font-family: verdana;
}

th.attr_col
{
	border-style : dotted;
	border-width : 1px;
	background-color: rgb(100,100,100);
	border-color:#999999;
	font-size: 0.85em; color:#FFFFFF; 
	text-decoration: none; 
	text-align: left; font-family: verdana;
}

td.value_col
{
	border-style : dotted;
	border-width : 1px;
	border-color:silver;
	width:150px;
	font-size: 0.85em; color:#000000; 
	text-decoration: none; 
	text-align: left; font-family: verdana;
}

/**
 * Layer switcher
 */
.olControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 75px;
    background-color: black;
    width: 100%;
    height: 100%;
}

.olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv,
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}

.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
    top: 5px;
    right: 0;
    cursor: pointer;
}
.olControlPanel .olControlMeasureItemActive {
  width:  22px;
  height: 22px;
  background-image: url("../images/measure_line.png");
  border: 3px solid #009ee0;
}
.olControlPanel .olControlWMSGetFeatureInfoItemActive { 
display: block;
vertical-align: middle;
height: 24px;
width: 24px;
line-height: 19px;
background: rgb(0, 0, 0);
opacity:0.5;
filter: alpha(opacity=50);
margin: 1px;
padding: 0;
background-image: url("../images/info.png");
}

.olControlPanel .olControlWMSGetFeatureInfoItemInactive { 
display: block;
color: white;
vertical-align: middle;
height: 24px;
width: 24px;
line-height: 19px;
background: rgb(0, 0, 0);
background-image: url("../images/info.png");
filter: alpha(opacity=80);
margin: 1px;
padding: 0;
border-radius: 0 0 4px 4px;
cursor: pointer;
}
.olControlPanel .olControlWMSGetFeatureInfoItemInactive:hover { 
filter: alpha(opacity=60);
opacity: 0.6;
}

.olControlPanel .olControlCatastralFeatureInfoItemActive { 
display: block;
vertical-align: middle;
height: 24px;
width: 24px;
line-height: 19px;
background: rgb(0, 0, 0);
opacity:0.5;
filter: alpha(opacity=50);
margin: 1px;
padding: 0;
background-image: url("../images/info_catastral.png");
}

.olControlPanel .olControlCatastralFeatureInfoItemInactive { 
display: block;
color: white;
vertical-align: middle;
height: 24px;
width: 24px;
line-height: 19px;
background: rgb(0, 0, 0);
background-image: url("../images/info_catastral.png");
filter: alpha(opacity=80);
margin: 1px;
padding: 0;
border-radius: 0 0 4px 4px;
cursor: pointer;
}
.olControlPanel .olControlCatastralFeatureInfoItemInactive:hover { 
filter: alpha(opacity=60);
opacity: 0.6;
}

.olImageLoadError {
    background-color: transparent;
}
